/* `fade` transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* `shrink` transition */
.shrink-enter-active,
.shrink-leave-active {
  transition: all 0.3s ease-out;
}

.shrink-enter-from,
.shrink-leave-to {
  opacity: 0;
  transform: scale(0);
  max-height: 0px
}

.shrink-enter-to,
.shrink-leave-from {
  opacity: 1;
  transform: scale(1);
  max-height: 500px
}

/* slide */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
/* bounce */
.bounce-enter-active {
  animation: bounce-in 0.5s;
  opacity: 1;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
  opacity: 0;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}